<!-- <div class="card-body">
  <div class="box container mt-5">
    <h1 class="text-center mt-3 text-primary">Sign in</h1>
    <form [formGroup]="loginForms"
    >
      <div class="row">
        <div class="col-sm-12 mt-3">
          <div class="form-group">
            <label>User Name</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="username"
                placeholder="Enter Username"
                required
              />          
            </div>
            <span
                *ngIf="
                  submitted ||
                  forms['username'].dirty ||
                  (forms['username'].touched && forms['username'].invalid)
                "
                class="info-msg text-danger"
              >
                <small
                  *ngIf="forms['username'].errors &&
                                    forms['username'].errors?.['required']"
                >
                  User name is required !
                </small>
              </span>
          </div>
        </div>
        <div class="col-sm-12 mt-3">
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter Password"
                required
              />
            </div>
            <span
                *ngIf="
                  submitted ||
                  forms['password'].dirty ||
                  (forms['password'].touched && forms['password'].invalid)
                "
                class="info-msg text-danger"
              >
                <small
                  *ngIf="forms['password'].errors &&
                                    forms['password'].errors?.['required']"
                >
                  Password is required !
                </small>
              </span>
          </div>
        </div>
        <div class="col-sm-12 mt-5">
          <div class="form-group">
            <div class="input-group">
              <input
                type="submit"
                class="form-control btn btn-primary"
                (click)="loginUser(loginForms.value)"
              /> 
            </div>
          </div>
        </div>

        <div class="col-sm-12 mt-5">
          <div class="form-group">
            <div class="input-group">
             <a (click)="forgotPassword()">Forgot Password</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 ">
        <div class="link">
          <a routerLink="/register" class="nav-link"
            >Not have account? Register here</a
          >
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- <footer>
  <app-footer></app-footer>
</footer> -->
<div class="wrapper bg-white">
  <div class="h2 text-center">Task Monitoring</div>
  <div class="h3 text-muted text-center pt-2">Enter your login details</div>
  <form class="pt-3" [formGroup]="loginForms">
    <div class="form-group py-2">
      <label class="h4 text-muted">Username</label>
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter Username"
          required
        />
      </div>
      <span
        *ngIf="
          submitted ||
          forms['username'].dirty ||
          (forms['username'].touched && forms['username'].invalid)
        "
        class="info-msg text-danger"
      >
        <small
          *ngIf="forms['username'].errors &&
                                    forms['username'].errors?.['required']"
        >
          User name is required !
        </small>
      </span>
    </div>
    <div class="form-group py-1 pb-2">
      <label class="h4 text-muted">Password</label>
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input
        [type]="fieldTextType ? 'text' : 'password'"
          class="form-control"
          formControlName="password"
          placeholder="Enter Password"
          required
        />
        <button class="btn bg-white text-muted" (click)="toggleFieldTextType()">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
      <span
        *ngIf="
          submitted ||
          forms['password'].dirty ||
          (forms['password'].touched && forms['password'].invalid)
        "
        class="info-msg text-danger"
      >
        <small
          *ngIf="forms['password'].errors &&
                                    forms['password'].errors?.['required']"
        >
          Password is required !
        </small>
        <small>{{inValidMsg}}</small>
      </span>
    </div>
    <div class="d-flex align-items-start">
      <div class="remember">
        <label class="option text-muted">
          Remember me
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="ml-auto">
        <a (click)="forgotPassword()" id="forgot">Forgot Password?</a>
      </div>
    </div>
    <button
      class="btn btn-block text-center my-3"
      (click)="loginUser(loginForms.value)"
    >
      Log in
    </button>
    <div class="text-center pt-3 text-muted">
      Not a member? <a (click)="signUp()" class="navLink">Sign up</a>
    </div>
  </form>
</div>
