<div class="card-body">
  <div class="box container mt-5">
    <h1 class="text-center mt-3 text-primary">Sign in</h1>
    <form [formGroup]="loginForms"
    >
      <div class="row">
        <div class="col-sm-12 mt-3">
          <div class="form-group">
            <label>User Name</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="username"
                placeholder="Enter Username"
                required
              />          
            </div>
            <span
                *ngIf="
                  submitted ||
                  forms['username'].dirty ||
                  (forms['username'].touched && forms['username'].invalid)
                "
                class="info-msg text-danger"
              >
                <small
                  *ngIf="forms['username'].errors &&
                                    forms['username'].errors?.['required']"
                >
                  User name is required !
                </small>
              </span>
          </div>
        </div>
        <div class="col-sm-12 mt-3">
          <div class="form-group">
            <label>Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Enter Password"
                required
              />
            </div>
            <span
                *ngIf="
                  submitted ||
                  forms['password'].dirty ||
                  (forms['password'].touched && forms['password'].invalid)
                "
                class="info-msg text-danger"
              >
                <small
                  *ngIf="forms['password'].errors &&
                                    forms['password'].errors?.['required']"
                >
                  Password is required !
                </small>
              </span>
          </div>
        </div>
        <div class="col-sm-12 mt-5">
          <div class="form-group">
            <div class="input-group">
              <input
                type="submit"
                class="form-control btn btn-primary"
                formControlName="submit"
                (click)="loginUser(loginForms.value)"
              /> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-3">
        <div class="link">
          <a routerLink="/auth/register" class="nav-link"
            >Not have account? Register here</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <footer>
  <app-footer></app-footer>
</footer> -->
