body{
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat;
}
.navLink:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #400485;
    font-weight: 700;
}
a:hover{
    text-decoration: none;
    color: #7b4ca0;
}
.h2{
    font-family: 'Kaushan Script', cursive;
}
