<div class="formData container mt-5">
  <form (submit)="addTask()">
    <div class="row">
      <div class="col-sm-12 mt-3">
        <div class="form-group">
          <label>Task</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              formControlName="task"
              placeholder="Enter Task"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-sm-12 mt-5">
        <div class="form-group">
          <div class="input-group">
            <input
              type="submit"
              class="form-control btn btn-primary"
              formControlName="submit"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
