<div class="container">
  <div class="card-body">
    <div class="box container mt-5">
      <h1 class="text-center mt-3 text-primary">Sign in</h1>
      <form [formGroup]="forgotpasswords">
        <div class="row">
          <div class="col-sm-12 mt-3">
            <div class="form-group">
              <label>New Password</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  placeholder="Enter Password"
                  required
                />
              </div>
              <span
                *ngIf="
                  submitted ||
                  forms['password'].dirty ||
                  (forms['password'].touched && forms['password'].invalid)
                "
                class="info-msg text-danger"
              >
                <small
                  *ngIf="forms['password'].errors &&
                                      forms['password'].errors?.['required']"
                >
                  Password is required !
                </small>
              </span>
            </div>
          </div>
          <div class="col-sm-4 mt-5">
            <div class="form-group">
              <div class="input-group">
                <input
                  type="submit"
                  class="form-control btn btn-primary"
                  (click)="forgotpassword(forgotpasswords.value)"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-4 mt-5">
            <div class="form-group">
              <div class="input-group">
                <button class="form-control btn btn-primary" (click)="back()">
                  Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
